[init]
    defaultBranch = main

[user]
    name = Zach Brown
    email = zacharyc.brown@veteransunited.com
    signingkey = ~/.ssh/id_ed25519.pub

[gpg]
    format = ssh

[commit]
    gpgsign = true

[core]
    pager = delta
    editor = vim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true

[merge]
    conflictStyle = zdiff3
